header{
    display: flex;
    flex-direction: row;
    border: aqua 1px solid ;
    width: 100%;
    justify-content: space-between;
    height: 60px;
}

img{
   flex: 0 0 20%;
   max-width: 100%;
   height: auto;
   
}

nav{
   flex: 2 0 55%;
}

.loging{
   flex: 0 0 20%; 
}



